<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" appCreditCard placeholder="Enter Your Card Details" class="form-control">
        <p class="alert alert-danger d-none">
          Plz enter valid values
        </p>
      </div>
      <!-- <input type="text" appLowerCase  class="form-control"> -->
      <!-- <p basicCss>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab et labore dicta nesciunt, commodi placeat iusto
        aperiam accusantium tempora laborum cumque, nisi sit quo. Assumenda.
      </p>
      <hr>
      <p appAdvanceCss [hoverColor]="'yellowgreen'" [classToggleName]="'show'">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, deleniti accusantium! Minus rem veritatis laborum
        hic, sint iure laudantium voluptatibus quo accusamus voluptates cumque perspiciatis!
      </p> -->
      <!-- <span [style.backgroundColor]="'blueviolet'">
        Lorem ipsum dolor sit amet.
      </span>
      <p [class.bg-primary]="flag">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum dolorem alias iste fuga, rem quis?
      </p> -->
    </div>
  </div>
</div>